@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menu-bar-shadow-color;
  background-color: $menu-bar-bg;

  :global(.container) > :global(.row) {
    height: 84px;

    @media (min-width: 800px) and (max-width: 1200px) {
      height: 168px;
    }
  }

  .menuBar {
    justify-content: space-between;
    

    @media (max-width: 1200px) {
      justify-content: center;
      flex-direction: column-reverse;
      
      > * {
        justify-content: center;
        height: 50%;
      }
    }

    @media (max-width: 800px) {
      flex-direction: row;
      align-content: center;
      
      > * {
        margin: 5px 0;
      }
    }
  }

  .searching {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex; 
    align-self: stretch;
    
    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      @extend .animation;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $text-light-color;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $text-light-color;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    } 

    .menulist {
      z-index: 1;
    }

    .menubt {
      display: none;
      background-color: #ffffff;
      justify-content: center;
      font-size: 20px;
      border: 1px solid black;
    }

    @media (max-width: 800px) {
      .menulist {
        display: none;
        flex-direction: column;
        background-color: #ffffff; 
        position: absolute;
        margin-top: 60px;
        border: 1px solid black; 
      }

      .menulist:target  {
        display: flex;
      }

      .menubt {
        display: flex;
      }

      a {
        display: flex;
        border: 0;
        width: 100%;
      }
    }
  }
}