@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $menu-bar-shadow-color;
  background-color: $menu-bar-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menuBar {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .searching {
    display: flex;
    margin-left: 10px;
  }

  .menu {
    display: flex; 
    align-self: stretch;
    position: relative;
     
    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      @extend .animation;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $text-light-color;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: $text-light-color;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    } 

    .menulist {
      z-index: 1;
    }

    .menubt {
      display: none;
      background-color: $menu-bar-bg;
      justify-content: center;
      font-size: 20px;
      border: 1px solid $menu-border-color; 
    }
  }
}

@media (max-width: 1150px) {
  .root {
    :global(.container) > :global(.row) {
      height: 168px;
    }
  }
}

@media (min-width: 567px) and (max-width: 1150px) {
  .menuBar {
    justify-content: center;
    flex-direction: column-reverse;
    
    > * {
      justify-content: center;
      height: 50%;
    }
  }
}

@media (max-width: 567px) {
  .root {
    .menu {
      margin-right: 30px;

      &:hover .menulist {
        display: flex;
      }

      .menulist {
        display: none;
        flex-direction: column;
        background-color: $menu-bar-bg; 
        position: absolute;
        top: 155%;
        transform: translate(-50%, -50%);
        border: 1px solid $menu-border-color; 
      }

      .menubt {
        display: flex;
        align-self: center;
      }

      a {
        display: flex;
        border: 0;
        width: 100%;

        &:hover .menulist {
          display: flex;
        }
      }
    }
  }
}

@media (min-width: 361px) and (max-width: 567px) {
  .menulist {
    left: 50%;
  }
}

@media (max-width: 360px) {
  .menu {
    padding: 0;

    .menulist {
      left: 30%;
      a {
        padding: 16px 5px;
      }
    }
  }
}
