@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $button-color;
  color: $text-light-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  @extend .animation;

  &:not(.noHover):hover {
    color: $text-light-color !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  @extend .animation;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-color;
  color: $button-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-color;
    color: $text-light-color;
  }
}

.favorite {
  border-color: $primary;
  color: $text-light-color;
  background-color: $primary;

  &:not(.noHover):hover {
    background-color: $text-light-color;
    color: $primary;
  }
}
