$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$old-price: #525252;

.animation {
  position:relative;
  background-position: 100% 0;
  transition-property: color, background, scale, bottom, left;
  transition-duration: 250ms, 250ms, 250ms, 250ms;

  &:hover{
    left:5px;
    //bottom: 5px;
    //scale:1.1;
  }
}
