$base-padding: 24px;

/*DON'T DEFINE COLORS ANYWHERE ELSE*/

/*Colors*/
$darkGrey: #2a2a2a;
$grey: #434343;
$lightGrey: #a9a9a9;
$greyWhite: #e1e1e1;
$white: #ffffff;
$black: #01020233;
$orangeBrown: #d58e32;

/*Global*/
$primary: $orangeBrown;
$text-color: $darkGrey;
$text-light-color: $white;
$button-color: $darkGrey;
$oldPrice: $grey;

/*Header*/
$header-topbar-bg: $grey;
$header-bg: $grey;
$phone-number-color: $greyWhite;
$cart-box-icon-color: $white;
$cart-counter-color: $greyWhite;

/*MenuBar*/
$menu-bar-bg: $white;
$menu-bar-shadow-color: $black;
$form-border-color: $darkGrey;

/*FeatureBox*/
$feature-box-color: $lightGrey;

/*NewFurniture*/
$new-furniture-border-color: $greyWhite;
$new-furniture-dots-list-bg: $white;
$new-furniture-dots-link-bg: $greyWhite;

/*ProductBox*/
$product-box-line-color: $darkGrey;
$product-box-border-color: $greyWhite;
$product-box-bg: $white;
$stars-color: $darkGrey;
$sale-bg: $darkGrey;
$photo-color: $greyWhite;

/*Footer*/
$footer-claim-bg: $darkGrey;
$footer-bg: $grey;
$footer-links-color: $lightGrey;
$footer-copyright-color: $lightGrey;

.animation {
  position:relative;
  background-position: 100% 0;
  transition-property: color, background, scale, bottom, left;
  transition-duration: 250ms, 250ms, 250ms, 250ms;

  &:hover{
    left:5px;
    //bottom: 5px;
    //scale:1.1;
  }
}