@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg;
  border: 1px solid $product-box-border-color;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    width: 253.4px;
    height: 236.71px;
    background: {
      color: $photo-color;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $sale-bg;
      border-radius: 50%;
      color: $text-light-color;
      padding: 30px 15px 5px 15px;
    }

    .image{
      width: 100%;
      height: 100%;
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .buttons {
      position: inherit;
      display: none;
      justify-content: space-between;
    }
  }

  &:hover {
    .buttons {
      display: flex;
    }
    .priceBtn{
      background-color: $primary;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-box-line-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .oldPrice {
    flex-grow: 2;
    text-align: right;
    padding-right: 10px;
    color: $oldPrice;
    text-decoration: line-through;
  }

  .active {
    color:$primary;
    background-color: $darkGrey;
  }
}

