@import "../../../styles/settings.scss";
.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;
  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;

    .icon:first-child {
      margin-left: 10px;
      color: $primary;
    }
    .icon:nth-of-type(2) {
      margin-right: 10px;
    }

    span {
      text-wrap: nowrap;
    }

    ul {
      margin:0;
      padding:0;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid $form-border-color;
      text-wrap: nowrap;
      list-style-type: none;
      align-items: center;
      position: absolute;
      transform: translateY(100%);
      top: -30px;
      display: none;

      li{
        padding-left: 10px;
      }

      li:hover {
        padding-left: 20px;
        background-color: $primary;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
  .searchField {
    display: flex;
    align-items: center;
    position: relative;
    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      &::placeholder {
        color: $text-color;
      }
    }
    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
